@model Packer_v2.Models.PackageViewModel

@{
    ViewBag.Title = "Insert Package";
}

<h2>Iniciando o PACOTE</h2>


<div>
    <label>* EPS</label>
    @Html.DropDownListFor(model => model.IdEps, Model.EpsList.OrderBy(o => o.NmEps).Select(x => new SelectListItem
    {
    Value = x.IdEps.ToString(),
    Text = x.NmEps
    }), "Selecione", new { @class = "form-control", @required = "required" })
</div>

<label>* Project</label>
<div id="divGetProjectsByEps">
    @Html.Partial("_GetProjectsByEpsDropDownList")
</div>

<label>* Solution</label>
<div id="divGetSolutionsByProject">
    @Html.Partial("_GetSolutionsByProjectDropDownList")
</div>



@section Scripts {
    <script type="text/javascript">

        var form = $("#form");
        var registerForm = new RegisterForm(form);
        registerForm.urlSave = "/Package/SavePackage";
        registerForm.urlDelete = "/Package/DeletePackage"

        /*Changes*/
        $(document).on('change', '#IdEps', function () {
            let idEps = $("#IdEps").val();
            getProjectsByEps(idEps);
        });

        $(document).on('change', '#IdProject', function () {
            let idProject = $("#IdProject").val();
            getSolutionsByProject(idProject);
        });

        $(document).on('change', '#IdSolution', function () {
            let idSolution = $("#IdSolution").val();
            getSolutionsByProject(idSolution);
        });




        /*Changes Açtions*/
        function getProjectsByEps(pIdEps) {
            var pIdProject;
            $.ajax({
                async: true,
                "url": "/Package/GetProjectsByEps",
                "type": "GET",
                data: { pIdEps: pIdEps },
            })
                .done(function (msg) {
                    if (msg.status.includes("nok")) {
                        let results = "Ocorreram erros ao buscar os registros!";

                        if (msg.mesage != undefined && msg.mesage != '') {
                            results = msg.mesage;
                        }

                        toast("Atenção", results, "error");
                        console.log(msg.error);
                    } else {
                        if (msg.partialView != undefined && msg.partialView != '') {
                            $("#divGetProjectsByEps").html(msg.partialView);

                            if (pIdProject != "" && pIdProject != undefined) {
                                $("#pIdProject").val(pIdProject);
                            }
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, msg) {
                    console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                });

        }

        function getSolutionsByProject(pIdProject) {
            var pIdSolution;
            $.ajax({
                async: true,
                "url": "/Package/GetSolutionsByProject",
                "type": "GET",
                data: { pIdProject: pIdProject },
            })
                .done(function (msg) {
                    if (msg.status.includes("nok")) {
                        let results = "Ocorreram erros ao buscar os registros!";

                        if (msg.mesage != undefined && msg.mesage != '') {
                            results = msg.mesage;
                        }

                        toast("Atenção", results, "error");
                        console.log(msg.error);
                    } else {
                        if (msg.partialView != undefined && msg.partialView != '') {
                            $("#divGetSolutionsByProject").html(msg.partialView);

                            if (pIdSolution != "" && pIdSolution != undefined) {
                                $("#pIdSolution").val(pIdSolution);
                            }
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, msg) {
                    console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                });
        }

        

    </script>

}


